.deletable-labels {
  padding: 7px 10px;
  min-height: 22px;
  border: 1px solid #E4E8EB;
  border-radius: 3px;
}

.deletable-labels ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.deletable-labels li {
  position: relative;
  display: inline-block;
  padding: .2em .4em;
  line-height: 1.5em;
  background-color: #F3F3F3;
}

.deletable-labels .icon-delete {
  cursor: pointer;
}
.deletable-labels .input-deleter {
  display: none;
}

.deletable-labels-opensearch li {
  margin-right: .5em;
}

.deletable-labels-opensearch .icon-delete {
  display: none;

  position: absolute;
  top: -12px;
  right: -10px;
  width: 1em;

  color: #f30;
  /*color: #FA5151;*/
}

.deletable-labels-opensearch li:hover > .icon-delete {
  display: inline !important;
}

.deletable-labels-wechat li {
  background-color: #F3F3F3;
}
.deletable-labels-wechat li > label {
  padding: 0 4px;
}

.deletable-labels-wechat li > span {
  padding-left: .4em;
  border-left: 1px solid #DFDFDF;
}

.deletable-labels.deletable-labels-wechat .input-deleter {
  display: inline;
  outline: none;
  font-size: .9em;
  width: 5em;
  border-width: 0;
}

.deletable-labels-wechat .icon-delete {
  color: #9A9A9A;
}
.deletable-labels-wechat .icon-delete:hover {
  color: #000;
}
