<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta lang="zh">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="name id couple">
    <meta name="keyword" content="">
    <title>name id couple demo IE8+</title>

    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <h2>需求</h2>
    <ol>
      <li>就是那个框里面只能显示名字，但是给后台要id。</li>
      <li>用户删除一个名字，对应的id我也要少传一个给后台。</li>
      <li>还有就是那个名字不能一个一个字的删，要删一下就删掉整个名字。</li>
      <li>框里面的名义是用分号分开的。</li>
    </ol>

    <div id="couple-wrapper"></div>

    <button id="couple-submitter" type="primary">确定</button>
    <button id="couple-set-new-data" type="button">设置新的数据</button>
    <button id="couple-set-new-data" type="button">清空</button>

    <script src="https://cdn.bootcss.com/jquery/1.7/jquery.min.js"></script>

    <!-- for findIndex -->
    <script src="https://cdn.bootcss.com/es6-shim/0.35.3/es6-shim.min.js"></script>
    <script src="./index.js"></script>

    <script>
      const data = [
        { name: '刘传宗', id: 1 },
        { name: 'legend80s', id: 2 },
        { name: '刘传宗', id: 3 },
      ];

      const couple = new Couples({
        el: '#couple-wrapper',
        data: data,
        deleted: function (data) {
          console.log('after deleted data:', data);
        }
      });

      $('#couple-submitter').on('click', function submit() {
        console.log('save data to backend:', couple.getData());
      });

      $('#couple-set-new-data').on('click', function reset() {
        const data = [
          { name: '刘传宗-2', id: 4 },
          { name: 'legend80s-2', id: 5 },
          { name: '刘传宗-2', id: 6 },
        ];

        couple.setData(data);
      });
    </script>
  </body>
</html>
