#names {
  min-height: 22px;
  border: 1px solid;
  padding: 5px;
}

#names li {
  position: relative;
  display: inline-block;
}

#names .icon-delete {
  position: absolute;
  top: -5px;
  right: 3px;
  cursor: pointer;
  color: #f30;

  display: none;
}

#names .icon-delete.show {
  display: inline !important;
}
